.slick-dots-bottom {
    margin: 0 !important;
    padding: 0 !important;
    display: none;
}

.slider-arrow {
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    font-size: 25px;
    z-index: 2;
    width: 50px;
    height: 100px;
    color: #d8d8d8 !important;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        color: #fb4226 !important;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 18, 50, 0.1);
    z-index: 2;
}

.playIcon {
    display: none;
    transition: all 0.3s linear;
    :hover {
        transform: scale(1.1);
        display: block;
        transition: all 0.3s linear;
    }
}

.contentStyle {
    height: 100vh;
    color: #fff;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
    .contentStyle {
        height: 430px;
    }
    .slider-arrow {
        top: 15%;
    }
}
