.homeMovieCustomTab {
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #31d7a9 !important;
    }

    .ant-tabs-tab-active {
        padding: 8px;
        font-size: 28px;
    }
    .ant-tabs-ink-bar {
        background: #31d7a9;
        padding-top: 2px;
    }
    .ant-tabs-nav::before {
        /* For the line to the right and close to the tabs */
        // border-bottom: 2px solid #31d7a9 !important;
        border-bottom: none !important;
    }
}
