.slickMobile {
    position: absolute !important;
    padding: 1.5% 29.1% 1.3% 29.3%;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    & > div {
        border-radius: 7%;
        background-color: #fff;
        width: 100%;
        height: 100%;
        & img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}
